<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>RPi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="/Raspberry-Pi.png" type="image/png"/>
    <script type="text/javascript" src="/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="/js/flot-0.8.3/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="/js/flot-0.8.3/flot/jquery.flot.time.js"></script>

    <script type="text/javascript" src="/angular-1.3.4/angular.js"></script>
    <script type="text/javascript" src="/angular-1.3.4/angular-route.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- http://fortawesome.github.io -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!--http://sciactive.com/pnotify/#demos-simple-->
    <script type="text/javascript" src="/js/notify.min.js"></script>


    <!-- Optional theme -->

    <!--<link rel="stylesheet" href="css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="/css/bootstrap-theme-yeti.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/t/app.js"></script>
    <script type="text/javascript" src="/t/myController.js"></script>
    <script type="text/javascript" src="/t/osNavbarController.js"></script>
    <script type="text/javascript" src="/t/tempPlotController.js"></script>
    <script type="text/javascript" src="/t/linkNavbarController.js"></script>
    <script type="text/javascript" src="/t/tempComparePlotController.js"></script>
    <script type="text/javascript" src="/t/ledController.js"></script>
    <script type="text/javascript" src="/t/deviceDiagnosticController.js"></script>

    <!--<script type="text/javascript" src="/t/plotDirective.js"></script>-->


    <script type="text/javascript">


        $.notify.addStyle('happyblue', {
            html: "<div>☺<span data-notify-text/>☺</div>",
            classes: {
                base: {
                    "white-space": "nowrap",
                    "background-color": "lightblue",
                    "padding": "5px"
                },
                superblue: {
                    "color": "white",
                    "background-color": "blue"
                },
                error: {
                    "color": "red",
                    "background-color": "red"
                }


            }
        });

        $.notify.addStyle('myError', {
            html:
            "<div>" +
                "<div class='clearfix'>" +
                    "<div class='title' data-notify-html='title' />" +
                    "<div class='text' data-notify-text='text' />" +
                "</div>" +
            "</div>",
            classes: {
                base: {
                    "white-space": "nowrap",
                    "background-color": "red",
                    "padding": "5px"
                }
            }

        });

        $.notify.defaults({position: "bottom right"});
    </script>

    <style type="text/css">
        th, td {
            padding: 0px 2px;
        }

        .navbar-width {
            width: 60px;
            display: inline-block
        }

        .font-small {
            font-size: 0.7em;
        }

        .lightOn {
            color: #cccc00;
        }

    </style>
</head>
<body ng-app="myModule">
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img alt="Brand" src="/Raspberry-Pi.png" style="width: 20px; height: 20px;"></a>

            <p loading class="navbar-text"><span class="glyphicon glyphicon-refresh text-muted"
                                                 aria-hidden="true"></span></p>

        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav" ng-controller="linkNavbarController">
                <li active-link="active"><a href="#/actual-temp.html">Temperature</a></li>
                <li active-link="active"><a href="#/temp-history.html">Temperatures history</a></li>
                <li active-link="active"><a href="#/temp-compare-history.html">Compare temperature history</a></li>
                <li active-link="active"><a href="#/led.html">Led</a></li>
                <li active-link="active"><a href="#/device-diagnostic.html">Device diagnostic</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login/logout" class="navbar-link">Wyloguj</a></li>

            </ul>

            <div class="navbar-text navbar-right" ng-controller="osNavbarController">

                <span class="text-muted font-small">DISK({{diskName}}):</span>
                <span class="navbar-width text-left"><b>{{disk}} %</b></span>

                <span class="text-muted font-small">MEM:</span>
                <span class="navbar-width text-left"><b>{{mem}} %</b></span>

                <span class="text-muted font-small">CPU:</span>
                <span class="navbar-width text-left"><b>{{cpu}} %</b></span>

                <span class="text-muted font-small">CORE TEMP:</span>
                <span class="navbar-width text-left"><b>{{core_temp}} C</b></span>
            </div>


        </div>


    </div>
</nav>


<div class="container">
    <!--<h1 class="text-center">My RPi</h1>-->
    <!--<hr/>-->

    <div>
        <% if  ( anyError ) { %>
        <div class="alert alert-info" role="alert">
            <pre><%= massages %></pre>
        </div>
        <% }; %>
    </div>

    <div ng-view></div>


</div>


</body>
</html>


<script type="text/ng-template" id="device-diagnostic.html">
    <h3>Device diagnostic</h3>

    <table class="table">
        <tr>
            <th>Address</th>
            <th>Id</th>
            <th>Instance info</th>
            <th>Last fail</th>
            <th>Last success</th>
            <th>Next probe interval</th>
            <th></th>
        </tr>
        <tr ng-repeat="i in filterList" ng-class="{'bg-danger': (i.lastFail > i.lastSuccess), 'bg-success': (i.lastFail <= i.lastSuccess)}">
            <td class="col-xs-1">{{i.address}}</td>
            <td class="col-xs-1">{{i.id}}</td>
            <td class="col-xs-2">{{i.instanceInfo}}</td>
            <td class="col-xs-2">{{i.lastFail}}</td>
            <td class="col-xs-2">{{i.lastSuccess}}</td>
            <td class="col-xs-2">{{i.nextProbeInterval}}</td>
            <td class="col-xs-2"><button ng-click="test(i.address)">Test: {{i.address}}</button></td>
        </tr>
    </table>
    <!--<div class="row">-->
        <!--<div class="col-xs-1 he">Address</div>-->
        <!--<div class="col-xs-1 he">Id</div>-->
        <!--<div class="col-xs-2">Instance info</div>-->
        <!--<div class="col-xs-2">Last fail</div>-->
        <!--<div class="col-xs-2">Last success</div>-->
        <!--<div class="col-xs-2">Next probe interval</div>-->
        <!--<div class="col-xs-2"></div>-->
    <!--</div>-->
    <!--<div class="row " ng-repeat="i in filterList" ng-class="{'bg-danger': (i.lastFail > i.lastSuccess), 'bg-success': (i.lastFail <= i.lastSuccess)}">-->
        <!--<div class="col-xs-1">{{i.address}}</div>-->
        <!--<div class="col-xs-1">{{i.id}}</div>-->
        <!--<div class="col-xs-2">{{i.instanceInfo}}</div>-->
        <!--<div class="col-xs-2">{{i.lastFail}}</div>-->
        <!--<div class="col-xs-2">{{i.lastSuccess}}</div>-->
        <!--<div class="col-xs-2">{{i.nextProbeInterval}}</div>-->
        <!--<div class="col-xs-2"><button ng-click="test(i.address)">Test: {{i.address}}</button></div>-->
    <!--</div>-->

</script>


<script type="text/ng-template" id="led.html">
    <h3>LED <i class="fa fa-refresh fa-spin" ng-show="InProgress"></i></h3>

    <div>


        <button style="font-size: 2em" class="btn btn-default" ng-click="Leds.LED0=!Leds.LED0; sendNewLedStatus()">
            <span>LED 0</span>
            <i style="font-size: 2em; vertical-align: middle;" class="fa fa-lightbulb-o"
               ng-class="{lightOn: Leds.LED0}"></i>
        </button>

        <button style="font-size: 2em" class="btn btn-default" ng-click="Leds.LED1=!Leds.LED1; sendNewLedStatus()">
            <span>LED 1</span>
            <i style="font-size: 2em; vertical-align: middle;" class="fa fa-lightbulb-o"
               ng-class="{lightOn: Leds.LED1}"></i>
        </button>


    </div>

</script>


<script type="text/ng-template" id="actual-temp.html">
    <h3>Temps</h3>
    <ul>
        <div ng-repeat="t in temps" class="row" style="display: flex; align-items: baseline;">
            <div class="col-xs-5">
                <span class="displa" style="font-size: 1.5em">{{t.name}}</span>
                <!--<span class="text-muted">({{t.id}})</span>-->
            </div>
            <div class="col-xs-2"><span class="text-danger" ng-hide="t.crcCorrect">CRC ERROR</span></div>
            <div class="col-xs-5" style="text-align: right">
                <span class="displa" style="font-size: 2em">{{t.temp.toFixed(1)}} C</span>
            </div>
        </div>
    </ul>
</script>

<script type="text/ng-template" id="temp-history.html">

    <div style="position: relative; overflow: hidden">
        <div style=" margin: 20px 0 10px 0">
            <select class="form-control" style="float: right; width:auto; margin:10px 0px 10px 10px;"
                    ng-model="selectedHistory" ng-options="h.text for h in listsOfHistories"
                    ng-change="loadData()">
            </select>
        </div>
    </div>
    <div id="plot" style="width: 100%; height: 400px;"></div>

</script>

<script type="text/ng-template" id="temp-compare-history.html">


    <div style="position: relative; overflow: hidden">
        <div class="row">

            <form class="form-horizontal" role="form">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="font-size: 1.0em"><strong>A</strong></label>

                        <div class="col-sm-11">
                            <select class="form-control" ng-model="SelectedA" ng-options="h.text for h in ListA"
                                    ng-change="loadData()">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" style="font-size: 1.0em"><strong>B</strong></label>

                        <div class="col-sm-11">
                            <select class="form-control col-xs-6" ng-model="SelectedB"
                                    ng-options="h.text for h in ListB"
                                    ng-change="loadData()">
                            </select>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <hr/>
        <div id="plot" style="width: 100%; height: 400px; "></div>
    </div>


</script>