<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>RPi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="shortcut icon" href="/Raspberry-Pi.png" type="image/png"/>
    <script type="text/javascript" src="js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="js/flot-0.8.3/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="js/flot-0.8.3/flot/jquery.flot.time.js"></script>

    <script type="text/javascript" src="angular-1.3.4/angular.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/t/app.js"></script>
    <script type="text/javascript" src="/t/myController.js"></script>
    <script type="text/javascript" src="/t/osNavbarController.js"></script>
    <script type="text/javascript" src="/t/tempPlotController.js"></script>


    <script type="text/javascript">

    </script>

    <style type="text/css">
        th, td {
            padding: 0px 2px;
        }

        .navbar-width {
            width: 60px;
            display: inline-block
        }

        .font-small {
            font-size: 0.7em;
        }


    </style>
</head>
<body ng-app="myModule">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img alt="Brand" src="/Raspberry-Pi.png" style="width: 20px; height: 20px;"></a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <p class="navbar-text navbar-right"><a href="/login/logout" class="navbar-link">Wyloguj</a></p>


            <div class="navbar-text navbar-right" ng-controller="osNavbarController">

                <span class="text-muted font-small">DISK({{diskName}}):</span>
                <span class="navbar-width text-left"><b>{{disk}} %</b></span>

                <span class="text-muted font-small">MEM:</span>
                <span class="navbar-width text-left"><b>{{mem}} %</b></span>

                <span class="text-muted font-small">CPU:</span>
                <span class="navbar-width text-left"><b>{{cpu}} %</b></span>

                <span class="text-muted font-small">CORE TEMP:</span>
                <span class="navbar-width text-left"><b>{{core_temp}} C</b></span>
            </div>


        </div>


    </div>
</nav>


<div class="container">
    <h1 class="text-center">My RPi</h1>
    <hr/>

    <div>
        <% if  ( anyError ) { %>
        <div class="alert alert-info" role="alert">
            <pre><%= massages %></pre>
        </div>
        <% } %>
    </div>


    <div ng-controller="myController">
        <h3>Temps</h3>

        <ul>
            <div ng-repeat="t in temps" class="row" style="display: flex; align-items: baseline;">
                <div class="col-xs-5">
                    <span class="displa" style="font-size: 1.5em">{{t.name}}</span>
                    <!--<span class="text-muted">({{t.id}})</span>-->
                </div>
                <div class="col-xs-5" style="text-align: right">
                    <span class="displa" style="font-size: 2em">{{t.temp.toFixed(1)}} C</span>
                </div>
                <div class="col-xs- text-danger" ng-hide="t.crcCorrect">CRC ERROR</div>
            </div>
        </ul>
    </div>
    <div ng-controller="tempPlotController">
        <div style="position: relative; overflow: hidden">
            <h3 style="display: inline-block">Temp plot</h3>

            <div style="float: right; margin: 20px 0 10px 0">
                <select class="form-control" ng-model="selectedHistory" ng-options="h.text for h in listsOfHistories">
                </select>
            </div>
        </div>


        <div id="plot" style="width: 100%; height: 400px;"></div>

    </div>

</div>


</body>
</html>